* {
    margin: 0%
}

.nav-container1 {
    background-color: #5e315f;
    width: 100%;
}

.nav-heading {
    padding: 30px;
    display: flex;
    flex-direction: row;

}

.nav-heading_p {
    margin-left: 20px;
}

.nav-heading_p1 {
    color: antiquewhite;
    font-size: 40px;
}

.nav-heading_p2 {
    color: antiquewhite;
    font-size: 35px;
    align-self: right;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
}

.content-001 {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 1.8rem;
    font-size: x-large;
}

.content-002 {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    margin-right: 40rem;
    margin-top: 1.8rem;
    font-size: large;
    position: relative;
}

.content-img1 {
    display: flex;
    flex-direction: column;
    margin-left: 48rem;
    width: 520px;
    position: absolute;
}

.content-003 {
    display: flex;
    flex-direction: column;
    margin-left: 55rem;
    margin-top: 1.8rem;
    font-size: x-large;
}

.content-004 {
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    margin-right: 1.8rem;
    margin-top: 1.8rem;
    font-size: large;
    position: relative;
}

.content-img2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    width: 580px;
    position: absolute;
}

.content-005 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    font-size: xx-large;
}

#rectangle {
    width: 210px;
    height: 5px;
    align-items: center;
    justify-content: center;
    background: black;
    position: absolute;
    margin-left: 42%;
    margin-top: 0.8rem;
}

.chartbox {
    width: 500px;
}

.container {
    height: 100vh;
}

.chart-wrapper {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.chartbox {
    width: 500px;
}

.container-ii {
    height: 100vh;
}

.chart-wrapper-ii {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}


.foot {
    background-color: #5e315f;
    color: white;
    padding: 5px;
    height: 65px;
}

.foot1 {
    font-size: 15px;
}

.foot2 {
    display: flex;
    flex-direction: row;
    float: right;

}