*{
    margin:0%
}

.nav-container1{
    background-color: #5e315f;
    width: 100%;
}
.nav-heading{
    padding: 30px;
    display: flex;
    flex-direction: row;

}
.nav-heading_p{
    margin-left: 20px;
}
.nav-heading_p1{
    color: antiquewhite;
    font-size: 40px;
}
.nav-heading_p2{
    color: antiquewhite;
    font-size: 35px;
    align-self: right;
}
.head {
    margin-top: 1.8rem;
    text-align: center;
    font-size: x-large;
}
.sub-head {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    text-align: center;
    font-size: x-large;
    color: rgb(73, 14, 128);
}
.rank1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.rank1-img {
    
    width: 60%;
    height: 50%;
    
    
}

.foot{
    background-color: #5e315f;
    color: white;
    padding: 5px;
    height: 65px;
}
.foot1{
    font-size: 15px;
}
.foot2{
    display: flex;
    flex-direction: row;
    float: right;

}